<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置dao-->
    <bean id="userDao" class="com.powernode.spring6.dao.UserDao"></bean>

    <!--配置service-->
    <!--<bean id="userService" class="com.powernode.spring6.service.UserService">
        &lt;!&ndash;想要调用set方法，就需要配置&ndash;&gt;
        <property name="userDao" ref="userDao"></property>
    </bean>-->

    <!--使用构造方法注入-->
    <bean id="userService" class="com.powernode.spring6.service.UserService">
        <constructor-arg index="0" ref="userDao"></constructor-arg>
    </bean>

    <!--给简单类型赋值-->
    <bean id="user" class="com.powernode.spring6.bena.User">
        <property name="password" value="niubi"></property>
        <property name="username" value="123456"></property>
        <property name="age" value="18"></property>
    </bean>

</beans>
